
/* Infos*/
.infos{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #8E8E91;

}




/*Map Google*/
.googlemap{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/* Méca express, service ,véchile de tout marque*/
.backgroundh{
  background-color: #BEBFC5;
}


/* Nos prestation (card) */

.colorbody{

  background-color: #8E8E91;
}


.prestation{

  transition: transform .2s; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}	


.prestation:hover{
  transform: scale(103%); 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/*Bouton : Nous trouvés etc*/
.btYellow{
  background-color: #ecec31;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btYellow:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-5px);
  outline: #ecec3194 solid 10px;
}

.btYellow:active{
  background-color: #ecec31;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}

.btYellow:focus{
  background-color: #ecec31;
}

  
  

  /*?*/
  .aprestation:hover{
    outline: #ecec3127 solid 10px;
  }






  .infocservice{
    background-color: #8E8E91;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
  }







  /* vécihule de tout marque*/
  .carlogowite{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    
  }
  

  @media (max-width: 767px) {
    .map {
      display: none;
    }
  }

  @media (max-width: 767px) {

  }

